<h1>List of all directors</h1>

<table>
  <tbody>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Name</th>
      <th>Dob</th>
      <th></th>
    </tr>
    <% Director.all.each { |director| %>
      <tr>
        <th><%= director.id %></th>
        <th><img src=<%= director.image %> /></th>
        <th><%= director.name %></th>
        <th><%= director.dob %></th>
        <th><a href="directors/<%= director.id %>">Get details</a></th>
      </tr>
    <% }%>
  </tbody>
</table>
