<h1>List of all movies</h1>

<table border="1">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th></th>
    </tr>
    <% Movie.all.each { |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><img src=<%= movie.image %> /></td>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td>
          <% matching_records = Director.where({:id => movie.director_id})%>
          <%=  matching_records.at(0).name %>
        </td>
        <td><a href="/movies/<%= movie.id %>">Show details</a></td>
      </tr>
    <% }%>
  </tbody>
</table>
